body{
    background-color: rgb(31, 104, 0);
}

h1 {
    font-family: 'Megrim', cursive;
}

h3 {
    font-family: 'Megrim', cursive;
}

h4 {
    font-family: 'Megrim', cursive;
}

h7 {
    font-family: 'Megrim', cursive;
}

.cyle_header {
    font-family: 'Megrim', cursive;
}

.cycle_step {
    padding: 20px, 20px, 20px, 20px;
    border-radius: 15px;
    color: rgb(135, 178, 59);
    border-color: olivedrab;
    gap: 20px;
}

ol{
    font-size: 18px;
    gap: 30px;
}
li{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

a{
    color:brown;
}

div{
    height: 100vh; /* Full viewport height */
    min-height: 100vh; /* Ensure it takes up the full height even with minimal content */
    display: flex;
}