body{
    background-color: rgb(31, 104, 0);
}

h1 {
    font-family: 'Megrim', cursive;
    color:whitesmoke;
}

h3 {
    font-family: 'Megrim', cursive;
    color:whitesmoke;
}

h4 {
    font-family: 'Megrim', cursive;
    color:whitesmoke;
}

h7 {
    font-family: 'Megrim', cursive;
    color:whitesmoke;
}

.cyle_header {
    font-family: 'Megrim', cursive;
    
}

.cycle_step {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border-width: 2px;
    color: rgb(135, 178, 59);
    border-color: rgb(0, 0, 0);
    gap: 20px;
}

ol{
    font-size: 18px;
    gap: 30px;
    color:whitesmoke;
}
li{
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:whitesmoke;
}

a{
    color:rgb(171, 107, 107);
}

div{
    height: 100vh; /* Full viewport height */
    min-height: 100vh; /* Ensure it takes up the full height even with minimal content */
    display: box;
    color:whitesmoke;
    font-size: xx-large !important;
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.footer_menu {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30px;
    min-height: 10px;
    background-color: rgb(136, 96, 9);
    width: 100%;
    margin-top: auto;
    font-size: large;
}

#photosynthesis {
    min-height: auto;
    height:auto;
}

#respiration {
    min-height: auto;
    height:auto;
    background-color: rgb(47, 47, 47);
}