h1 {
    font-family: 'Megrim', cursive;
}
h3 {
    font-family: 'Megrim', cursive;
}
h4 {
    font-family: 'Megrim', cursive;
}
h7 {
    font-family: 'Megrim', cursive;
}
.cyle_header {
    font-family: 'Megrim', cursive;
}
.cycle_step {
    padding: 0px 500px;
    color: darkolivegreen;
}